<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRGatling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5284CFAC1DCF582F009741CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5284CFC51DCF582F009741CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5284CFD01DCF582F009741CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
